/* Menú */

nav img{
    width: 250px;
}

.logo{
    display: inline-block;
    margin-top: 60px;
    margin-left: 90px;
}
.menu{
    margin-left: 500px;
    margin-top: -60px;
    font-family: 'Suez One', serif;
}

.menu a{
    text-decoration: none;
    color: black;

}

.menu a:hover{
    color: #FEBC2C;
}

.menu li{
    display: inline;
    margin: 10px;
}

/* Icono Instagram */

.instagram {
    margin-left: 30px;
    font-size: 20px;
    margin-bottom: 90px;
}

.instagram:hover{
    color: #FEBC2C;
}


/*Caja de texto */

.articulos h1{
    text-align: center;
    font-weight: 100;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    margin-top: -50px;

}

.articulos h2{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    font-weight: 100;
    margin-top: 2px;
    margin-left: 183px;
}

.articulos{
    vertical-align: top;
    background: #F5F5F5;
    padding: 300px;
    font-weight: normal;
    margin: 10%;
    margin-left: -20px;
    margin-top: 30px;
    padding: 75px;
    width: 500px;
    height: 500px;
    position: absolute;

}


.articulo p{
    margin-top: 50px;
    font-family: monospace;
    text-align: center;
    font-weight: lighter;
    font-size: 17px;
}
/* Imagen Sillon */

.imagenSillon img{
    vertical-align: top;
    width: 800px;
    height: 500px;
    position: absolute;
    margin-left: 500px;
}

/* Botón Book Now */

.boton{
    vertical-align: top;
    text-transform: uppercase;
    position: absolute;
    margin-left: 41%;
    margin-top: 410px;




}
.boton p{
    text-align: center;
}

.boton a{
    text-decoration: none;
    color: black;
    background: #FEBC2C;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;

}


.boton a:hover{
    color: white;
    background: black;
}


/* Ícono Flecha */

.flecha{
    font-size: 30px;
    margin-top: 30px;
}

.flecha:hover{
    color:#FEBC2C;
}


/* Contenedor */

.contenedor{
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    width: 50%;
    position: absolute;
    text-align: center;
    top: 150%;
    right: 0;
    bottom: 0;
    left: 30%;
    text-align: center;
    margin-left: -180px;

}

.contenedor h2{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 100;
    font-size: 40px;
    text-align: center;
    margin-left: 70px;

}

.textoContenedor{
    display: inline-block;
    margin-left: 10%;
    word-spacing: 10px;
    padding: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
    font-weight:bolder;
}


/* Box izquierdo 1 */

.boxIzquierdo1{
    display: inline-block;
    position: relative;
    width: 240px;
    height: 200px;
    top: 1861px;
    padding-left: 60px;
    margin-left: 128px;
    /* border: 1px solid black; */
    z-index: 5;
    background: white; /*#F5F5F5;*/
}

.imagenBox1{
    position: absolute;
    width: 430px;
    top: 230%;
    left: 10%;
}


.boxIzquierdo1 h3 strong{
    font-weight: lighter;

}

.boxIzquierdo1 h3 {
    font-size: 25px;
}


.boxIzquierdo1 p{
    font-size: 15px;
}


.boxIzquierdo1 p:nth-child(4){
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight:bolder;
    font-family: 'Roboto', sans-serif;

}


.boxIzquierdo1 p:nth-child(3){
    margin-top: -10px;
}


.boxIzquierdo1 p:nth-child(4):hover{
    color: #FEBC2C;
}


.flechaBox{
    margin-left: 10px;
    font-size: 20px;
    color: #FEBC2C;
}



/* Box Derecho 1 */

.imagenBoxDerecho{
    position: relative;
    width: 500px;
    left: 350px;
    top: 670px;
}

.boxDerecho1{
    display: inline-block;
    position: absolute;
    z-index: 6;
    top: 1700px;
    left: 900px;
    width: 300px;
    height: 168px;
    background: white;
    padding-left: 25px;

}

.boxDerecho1 h3 {
    font-size: 25px;

}
.boxDerecho1 h3 strong{
    font-weight: lighter;
}

.boxDerecho1 p:nth-child(2) {
    margin-top: -5px;
}

.boxDerecho1 p:nth-child(3){
    margin-top: -10px;
}

.boxDerecho1 p:nth-child(4){
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight:bolder;
    font-family: 'Roboto', sans-serif;
}

.boxDerecho1 p:nth-child(4):hover{
    color: #FEBC2C;
}


/* Box izquierdo 2 */

.boxIzquierdo2{
    position: absolute;
    top: 2650px;
    left: 380px;
    background: white;
    width: 333px;
    padding: 30px;
    padding-top: 4px;
    z-index: 7;

}

.imagenBoxIzquierdo2{
    position: relative;
    top: 830px;
    left: 80px;
    width: 500px;
    height: 320px;
}


.boxIzquierdo2 h3{
    font-size: 25px;
}

.boxIzquierdo2 p{
    margin: 4px;
}



.boxIzquierdo2 p:nth-child(5){
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
}

.boxIzquierdo2 p:nth-child(5):hover{
    color: #FEBC2C;
}

.boxIzquierdo2 h3 strong{
    font-weight: lighter;
}



/* Box derecho 2 */

.boxDerecho2{
    position: absolute;
    display: inline-block;
    z-index: 8;
    top: 2440px;
    left: 800px;
    background: white;
    width: 280px;
    height: 200px;
}

.imagenBoxDerecho2{
    position: absolute;
    width: 450px;
    height: 600px;
    top: 1220px;
    left: 400px;
}

.boxDerecho2 h3{
    font-size: 25px;
}

.boxDerecho2 p{
    margin: 4px;
}



.boxDerecho2 p:nth-child(5){
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
}

.boxDerecho2 p:nth-child(5):hover{
    color: #FEBC2C;
}

.boxDerecho2 h3 strong{
    font-weight: lighter;
}

/* Box Playa */

.boxPlaya{
    position: absolute;
    display: inline-block;
    top: 3288px;
    z-index: 9;
    width: 450px;
    height: 330px;
    left: 31%;
    text-align: center;
    background: white;
    padding: 10px 40px 20px 20px;
}
.imagenPlaya{
    position: absolute;
    width: 100%;
    height: 400px;
    top: 1630px;

}


.boxPlaya h3 strong{
    font-weight: lighter;
    font-size: 35px;

}

.boxPlaya h3{
    margin-bottom: 30px;
}
.cerrar{
    font-size: 23px;
    margin-left: 420px;
    color: #FEBC2C;
}

.cerrar:hover{
    color: black;
}

.boxPlaya p:nth-child(3){
    margin-left: -73px;
}

.boxPlaya p:nth-child(4){
    margin-left: -70px;
}

.boxPlaya p:nth-child(5){
    margin-left: -87px;
}
.boxPlaya p:nth-child(6){
    margin-left: -55px;
}

.boxPlaya p:nth-child(7){
    margin-left: -280px;
}


/* Beneficios */

.beneficios{
    width: 100%;
    height: 50%;
}
.verticalLine {
    position: absolute;
    z-index: 10;
    border-left: 1px solid grey;
    top: 3700px;
    left: 430px;
    height: 300px;
}


/* Five Benefits*/

.fiveBenefits{
    position: absolute;
    top: 3800px;
    left: 100px;
    font-size: 30px;
}


.estrella{
    color: #FEBC2C;
}

/* Micellaneous */

.micella{
    position: absolute;
    top: 3800px;
    left: 560px;
    font-size: 25px;

}

.estrella2{
    color: #FEBC2C;
    position: absolute;
    top: 3750px;
    left: 610px;
    font-size: 30px;
}

.textoMicella{
    position: absolute;
    top: 3870px;
    left: 520px;
}


/* Parking Garage */

.parkingGarage{
    position: absolute;
    top: 3799px;
    left: 1000px;
    font-size: 25px;
}


.verticalLine2 {
    position: absolute;
    z-index: 10;
    border-left: 1px solid grey;
    top: 3700px;
    left: 850px;
    height: 300px;
}


.estrella3{
    color: #FEBC2C;
    position: absolute;
    top: 3750px;
    left: 1055px;
    font-size: 30px;
}



.textoParkingGarage{
    position: absolute;
    top: 3870px;
    left: 950px;
}



/* Transport */

.transport{
    position: absolute;
    top: 4130px;
    left: 140px;
    font-size: 25px;
}


.verticalLine3 {
    position: absolute;
    z-index: 11;
    border-left: 1px solid grey;
    top: 4060px;
    left: 430px;
    height: 300px;
}


.estrella4{
    color: #FEBC2C;
    position: absolute;
    top: 4080px;
    left: 170px;
    font-size: 30px;
}



.textoTransport{
    position: absolute;
    top: 4200px;
    left: 85px;
}





/* Free Internet */

.freeInternet{
    position: absolute;
    top: 4130px;
    left: 560px;
    font-size: 25px;
}


.verticalLine4 {
    position: absolute;
    z-index: 11;
    border-left: 1px solid grey;
    top: 4060px;
    left: 430px;
    height: 300px;
}


.estrella5{
  color: #FEBC2C;
  position: absolute;
  top: 4080px;
  left: 610px;
  font-size: 30px;
}



.textoFreeInternet{
    position: absolute;
    top: 4200px;
    left: 520px;
}


/* Cleaning Services */

.cleaningServices{
    position: absolute;
    top: 4130px;
    left: 1000px;
    font-size: 25px;
}


.verticalLine5 {
    position: absolute;
    z-index: 11;
    border-left: 1px solid grey;
    top: 4060px;
    left: 850px;
    height: 300px;
}


.estrella6{
  color: #FEBC2C;
  position: absolute;
  top: 4080px;
  left: 1065px;
  font-size: 30px;
}



.textoCleaningServices{
    position: absolute;
    top: 4200px;
    left: 1030px;
}


/* Rent a Boat */

.rentABoat{
  position: absolute;
  z-index: 12;
  top: 4600px;
  left: 180px;
}

.rentABoat h3{
  font-size: 30px;
  font-weight: lighter;
}

.boteIzquierda1{
  position: absolute;
  z-index: 13;
  top: 2370px;
  left: 85px;
  width: 430px;
  height: 300px;
}


/* Jenna */
.botecito img{
  position: absolute;
  z-index: 15;
  top: 4600px;
  left: 570px;
  width: 600px;
  height: 300px;
}


.jenna{
  position: absolute;
  margin-top: 3743px;
  z-index: 16;
  margin-left: 720px;
  width: 410px;
  height: 300px;
  background: white;
  padding-left: 40px;
  padding-top: 10px;
}

.jenna h3{
  z-index: 177;
  margin-top: 10px;
  font-size: 40px;
  font-weight: lighter;
}

/* footer */

footer{
  position: absolute;
  z-index: 18;
  background: #FEBC2C;
  width: 100%;
  height: 160px;
  top: 5150px;

}


.footerBox{
  margin-left: 170px;

  float: left;
  padding-top: 40px;
}

.celular{
  margin-left: 50px;
  font-size: 25px;
}


.carta{
  margin-left: 120px;
  font-size: 25px;
}

.tiempo{
  margin-left: 70px;
  font-size: 25px;
}


.linea{
  width: 100%;
  border-top: 1px solid red;
  margin-top: 120px;
}

.textoFooter{
  margin-top: 10px;
  margin-left: 40%;
  color: #E9E9E9;
}

.textoFooter:hover{
  color: white;
}
.textoFooter p:nth-child(2){
  margin-top: -34px;
  margin-left: 650px;
  color: #E9E9E9;
}

.textoFooter p:nth-child(2):hover{
  color: white;
}
